[build]
command = "npm run build"
publish = "dist"
[[redirects]]
from = "/api/*"
to = "https://formsync.koyeb.app/:splat"
force = true
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200