.container {
    height: 30px;
    width: 100%;
}

.button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal 14px 'Roboto', sans-serif;
    color: var(--text);
    background: var(--button-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: var(--button-hover);
}

.loader {
    width: 15px;
    height: 15px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}