.container {
    min-height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 3px;
    padding: 20px 10px;
    color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51, 51, 51) 0 0 0 3px;
}

.name {
    font: bold 1.2rem var(--open-sans);
}

.email {
    font: normal 0.9rem var(--open-sans);
}

.subject {
    font: normal 0.8rem var(--open-sans);
}

.message {
    font: normal 0.7rem var(--roboto);
}

.date {
    font: normal 0.6rem var(--roboto);
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.container:hover .deleteBtn {
    display: block;
}

.deleteBtn {
    height: 25px;
    width: 25px;
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: none;
}

.deleteBtn img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}