.container {
    width: 100%;
    color: var(--text);
    display: flex;
    flex-direction: column;
}

.container label {
    font: 13px var(--open-sans);
    color: var(--text);
}

.container span {
    font: normal 10px var(--roboto);
    color: #FF0000;
}

.container select {
    width: 100%;
    height: 30px;
    color: var(--text);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
}

.container select, .container option {
    cursor: pointer;
}

.container .selectError {
    border: 1px solid var(--input-error-border);
}