.container {
    width: 100%;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35vh;
    padding: 20vh 0;
}

.main h1 {
    font: bolder 3rem var(--open-sans);
    color: var(--text);
}

.main p {
    font: normal 1.3rem var(--roboto);
    color: var(--text-secondary);
}

.hero {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.hero h1 {
    text-align: center;
}

.hero p {
    text-align: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttons button {
    font: 400 1rem var(--roboto);
    background: #0049CE;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background 0.3s;
    color: var(--text);
}


.buttons button:first-child:hover {
    background: #075dfd
}

.buttons button:last-child {
    background: none;
    border: 1px solid #0049CE;
    color: #0049CE;
}

.buttons button:last-child:hover {
    background: #0049CE;
    color: #fff;
}

.whyChoose {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: start;
    gap: 2rem;
    padding: 1.5rem;
}

.intro {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.intro h4 {
    color: var(--text);
}

.intro p {
    font-size: 1rem;
}

.pricing {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
