.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid var(--text-secondary);
    padding: 2% 4%;
    color: var(--text);
}

.head {
    display: flex;
    align-items: center;
    gap: 5px;
}

.head img {
    width: 30px;
}

.head h4 {
    font: bold 20px var(--open-sans);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.info img {
    width: 40px;
    border-radius: 50px;
    overflow: hidden;
    background: var(--secondary);
    padding: 4px;
}

.info h1 {
    font: bold 20px var(--oswald);
    color: var(--text);
}

.info span {
    font: normal 11px var(--roboto);
    color: var(--text-secondary);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu div {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font: bold 16px var(--open-sans);
}

.menu div img {
    width: 24px;
}

.menu div span {

}

.logout {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font: bold 16px var(--open-sans);
    position: absolute;
    bottom: 2%;
    color: var(--text);
}

.logout img {
    width: 30px;
}
