.container {
    min-height: 100vh;
    width: 100%;
    padding: 1%;
}

.wrongMessage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.keyContainer {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

.keyContainer button {
    font: normal 17px var(--open-sans);
    position: relative;
    cursor: pointer;
    border: none;
    background: var(--text);
    padding: 10px 20px;
    letter-spacing: 2px;
    border-radius: 10px;
}

.forms {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}