.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 20% 2% 10%;
    gap: 4rem;
    color: var(--text);
}

.footer {
    width: 100%;
    display: flex;
    gap: 10%;
}

.container h3 {
    font: bold 19px var(--open-sans);
}

.container p {
    font: normal 16px var(--roboto);
    color: var(--text-secondary);
}

.about, .links, .follow {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about {
    max-width: 300px;
}

.links ul {
    list-style: none;
}

.links ul li {
    margin-bottom: 5px;
}

.follow {

}

.socials {
    display: flex;
    gap: 15%;
}

.socials img {
    width: 29px;
    border: 1px solid var(--text-secondary);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
}