@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--primary);
}

:root {
    --orange: #f46c38;
    --primary: #04080F;
    --text: #F8F9FA;
    --text-secondary: #E9ECEF;
    --button-background: #08229D;
    --button-hover: #1E3FC2FF;
    --blue: #023047;
    --steel-blue: #407BA7;
    --royal-blue: #002962;
    --secondary: #212529;
    --input-border: #CED4DA;
    --input-background: #212529;
    --input-error-border: #FF0000;
    --social-btn: #343A40;

    --roboto: 'Roboto', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}