@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary);
    /*background: gray;*/
}

:root {
    --primary: #0d1b2a;
    --bg-secondary: #1b263b;
    --input-border: #1b263b;
    --input-background: #1b263b;
    --text: #ffffff;
    --text-secondary: #c2c0c0;
    --button-background: #0049CE;
    --button-hover: #0452e0;
    --roboto: 'Roboto', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}